@{
    var controller = ViewContext.RouteData.Values["controller"]?.ToString();
    var action = ViewContext.RouteData.Values["action"]?.ToString();

    bool isHomePage = controller == "Home" && action == "Index";
}

@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ACIAM</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ACIAM.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/eventium-assets.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">


</head>
<body>
    <!-- Container -->
    <div id="container">
        <!-- Header
            ================================================== -->
        <header class="clearfix @(isHomePage ? "" : "second-style")">

            <nav class="navbar navbar-expand-lg @(isHomePage ? "navbar-dark bg-dark" : "navbar-light bg-light")">
                <div class="container-fluid">

                    <a class="navbar-brand" asp-action="Index">
                        <img src="~/images/home/logo.png" alt="" style="max-height: 50px;">
                    </a>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav m-auto">
                            <li class="nav-item active">
                                <a class="nav-link" asp-action="Index" asp-controller="Home">Home</a>
                            </li>
                            <li class="nav-item drop-link">
                                <a class="nav-link">Committee<i class="fa fa-angle-down"></i></a>
                                <ul class="dropdown">
                                    <li><a asp-action="OrganisingCommittee" asp-controller="Home">Organising Committee</a></li>
                                    <li><a asp-action="LocalOrganisingCommittee" asp-controller="Home">Local Organising Committee</a></li>
                                    <li><a asp-action="ScientificCommittee" asp-controller="Home">Scientific Committee</a></li>
                                    <li><a asp-action="HonoraryCommittee" asp-controller="Home">Honorary Committee</a></li>
                                </ul>
                            </li>
                            <li class="nav-item drop-link">
                                <a class="nav-link">Speakers<i class="fa fa-angle-down"></i></a>
                                <ul class="dropdown">
                                    <li><a asp-action="PlenarySpeakers" asp-controller="Home">Plenary Speakers</a></li>
                                    <li><a asp-action="InvitedSpeakers" asp-controller="Home">Invited Speakers</a></li>
                                    <li><a asp-action="SpecialSpeakers" asp-controller="Home">Special Speakers</a></li>
                                    <li><a asp-action="HonorarySpeakers" asp-controller="Home">Honorary Speakers</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-action="Contact" asp-controller="Home">Contact</a>
                            </li>
                        </ul>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            
                        }
                        else
                        {
                            <a asp-area="Identity" asp-page="/Account/Login" class="default-button">Portal</a>
                        }
                        
                    </div>
                </div>
            </nav>

        </header>
        <!-- End Header -->
        @RenderBody()

        <!-- footer
            ================================================== -->
        <footer>
            <div class="container">

                <div class="up-footer">
                    <div class="row">

                        <div class="col-md-4">
                            <div class="footer-widget connect-widget">
                                <h2>Connect with us</h2>
                                <p>Get the latest updates.</p>
                                <ul class="social-icons">
                                    <li><a class="facebook" href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a class="twitter" href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a class="linkedin" href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                    <li><a class="instagram" href="#"><i class="fab fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="footer-widget subscribe-widget">
                                <h2>Join the Newsletter</h2>
                                <p>Creativity happens everywhere.</p>
                                <form class="subscribe">
                                    <input type="text" name="enter-your-email" id="enter-your-email" placeholder="enter your email ..." />
                                    <input type="submit" name="subscribe-button" id="subscribe-button" value="Subscribe" />
                                </form>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="footer-widget text-widget">
                                <h2>African Socienty</h2>
                            </div>
                        </div>

                    </div>
                </div>

                <p class="copyright-line">
                    &copy; 2024. Mathematics Is a universal language.
                </p>

            </div>
        </footer>
        <!-- End footer -->

    </div>
    <!-- End Container -->

    <div class="preloader">
        <img alt="" src="~/images/loader.gif">
    </div>

    <script src="~/js/eventium-plugins.min.js"></script>
    <script src="~/js/countdown.js"></script>
    <script src="~/js/jquery.countTo.js"></script>
    <script src="~/js/popper.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/gmap3.min.js"></script>
    <script src="~/js/script.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
