@{
    ViewData["Title"] = "Home Page";
}

<!-- event-promo-section
    ================================================== -->
<section class="event-promo-section">
    <div class="event-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-8">
					<h1>Mathematics <br />is a universal language</h1>
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="event-date">
                        <p>
                            ACIAM 2014
                            <span>30 - 05</span>
							SEP - OCT
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End event-promo section -->
<!-- reg-sub-section
            ================================================== -->
<section class="reg-sub-section">
    <div class="inner-reg-sub">
        <div class="register-box">
            <p>
				<span>Be</span> among the first to shape Africa's future <br>
                <span>in</span><br>
				mathematics and technology
            </p>
            <a asp-action="OnlineRegister">Register Today</a>
        </div>
        <div class="subscribe-box">
            <p>Join thousands of other innovators.</p>
			<span>AFRICAN CONFERENCE FOR INDUSTRIAL AND APPLIED MATHEMATICS (ACIAM 2024)</span>
        </div>
    </div>
</section>
<!-- End reg-sub section -->
<!-- about-section
================================================== -->
<section class="about-section">
    <div class="container">
        <div class="about-box">
            <div class="title-section">
                <h1>About Conference</h1>
            </div>

            <p>
                ACIAM 2024 is an international congress that brings together applied mathematicians and computational scientists from academia, industries, engineering, manufacturing, research and development institutions, service and consulting organizations, government, and military organizations across Africa and globally. The primary objective of ACIAM 2024 is to share valuable mathematical knowledge with other professionals who can implement mathematical theory for practical, scientific, or industrial use to promote economic growth and technological advancement across the African continent. In addition, the conference will also witness the inauguration of the African Society for Industrial and Applied Mathematics (ASIAM).
            </p>

			<div>
				<img src="~/images/home/early-registration-1.png" alt="Alternate Text" />
			</div>

            <h3>Goals</h3>
            <div style="color:#6c7a89;">
                <ul>
                    <li>To advance the application of mathematics and computational science to engineering, industry, science, and society in Africa</li>
                    <li>To promote research that leads to effective new mathematical and computational methods and techniques for science, engineering, industry, and society in Africa and globally.</li>
                    <li>To provide a platform to exchange information and ideas among applied mathematicians, engineers, and scientists in Africa and globally.</li>
                </ul>
            </div>

            <h2>Brief History</h2>
            <p>Industrial and Applied Mathematics (IAM) faces several challenges and remains the most under-represented in all the regional chapters, in Africa. During the 2023-November Conference on Mathematics and Application, held in Kigali - Rwanda, concerns about the lack of contribution from Mathematics towards the development of the African continent, were raised and articulated by both new and established African researchers. On this bearing, Professor Atangana, the President of the African Mathematical Union Commission for Research and Innovation (AMU-CRIMS); Professor Makinde, the Vice President of AMU, Southern Africa; and Professor Schilders, the then President of the International Council of Applied and Industrial Mathematics (ICIAM), initiated a conference on applied and industrial mathematics, to take place in South Africa, from September 30 to October 5, 2024.</p>
        </div>
    </div>
</section>
<!-- End about section -->

<section class="speaking-section3">
	<div class="container">
		<div class="title-section center">
			<h1>Chair of the Conference</h1>
		</div>
		<div class="speakers-box">

			<div class="row">
				<div class="col-lg-6">
					<div class="speaker-post">
						<a href="#"><img src="~/images/conference/Picture-1-300x300.jpg" alt=""></a>
						<div class="speaker-content">
							<h2><a href="#">Prof. Dr. A. Atangana </a></h2>
							<span></span>
                            <p>Chair of the African Mathematical Union Commission for Research and Innovation (AMU-CRIMS)</p>
                            <p>Fellow  of the World Academy of Sciences    </p>
                            <p>University of the Free State, South Africa</p>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="speaker-post">
						<a href="#"><img src="~/images/conference/Picture-2-300x276.png" alt=""></a>
						<div class="speaker-content">
							<h2><a href="#">Prof. Dr. Oluwole Daniel Makinde</a></h2>
							<p>
                                [MFR, FAAS, FIAPS, FNMS ],  Vice President-African Mathematical Union (Southern Africa Region),
							</p>
                            <p>Stellenbosch University, South Africa</p>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>

<!-- clients-section
================================================== -->
<section class="clients-section3">
	<div class="container">
		<div class="title-section center">
			<h1>Our Partners</h1>
		</div>
		<div class="client-box">
			<ul class="client-list">
				<li>
					<a href="#"><img src="images/clients/1.png" alt=""></a>
				</li>
				<li>
					<a href="#"><img src="images/clients/2.png" alt=""></a>
				</li>
				<li>
					<a href="#"><img src="images/clients/3.png" alt=""></a>
				</li>
				<li>
					<a href="#"><img src="images/clients/4.png" alt=""></a>
				</li>
				<li>
					<a href="#"><img src="images/clients/5.png" alt=""></a>
				</li>
				<li>
					<a href="#"><img src="images/clients/6.png" alt=""></a>
				</li>
				<li>
					<a href="#"><img src="images/clients/7.png" alt=""></a>
				</li>
				<li>
					<a href="#"><img src="images/clients/8.png" alt=""></a>
				</li>
				<li>
					<a href="#"><img src="images/clients/9.png" alt=""></a>
				</li>
				<li>
					<a href="#"><img src="images/clients/10.png" alt=""></a>
				</li>
				<li>
					<a href="#"><img src="images/clients/11.png" alt=""></a>
				</li>
				<li>
					<a href="#"><img src="images/clients/12.png" alt=""></a>
				</li>
			</ul>
		</div>
	</div>
</section>
<!-- End clients section -->

