@{
    ViewData["Title"] = "Home Page";
}

<!-- event-promo-section
    ================================================== -->
<section class="event-promo-section">
    <div class="event-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-8">
                    <h1>Mathematics <br /> Is a universal language</h1>
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="event-date">
                        <p>
                            ACIAM 2014
                            <span>30 SEP - 05 OCT</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End event-promo section -->
<!-- reg-sub-section
            ================================================== -->
<section class="reg-sub-section">
    <div class="inner-reg-sub">
        <div class="register-box">
            <p>
                <span>for the</span> first 20 registrations <br>
                <span>and</span><br>
                $20 for each additional registration
            </p>
            <a href="#">Register Today</a>
        </div>
        <div class="subscribe-box">
            <p>Join thousands of other innovators.</p>
            <span>Gain access to exclusive discounts to the hottest Business events</span>
            <form class="subscribe">
                <input type="text" name="enter-email" id="enter-email" placeholder="enter your email ..." />
                <input type="submit" name="subscribe-btn" id="subscribe-btn" value="Subscribe" />
            </form>
        </div>
    </div>
</section>
<!-- End reg-sub section -->
<!-- about-section
================================================== -->
<section class="about-section">
    <div class="container">
        <div class="about-box">
            <div class="title-section">
                <h1>About Conference</h1>
            </div>

            <p>Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo. Suspendisse potenti. Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est. Sed lectus. Praesent elementum hendrerit tortor. </p>
        </div>
    </div>
</section>
<!-- End about section -->