<!-- register-section
	================================================== -->
<section class="register-section">
	<div class="background-part"></div>
	<div class="container">
		<div class="title-section center white-style">
			<span>Don’t miss the upcoming event</span>
			<h1>Online Event Register Form</h1>
		</div>
		<div class="register-box">
			<form id="register-form">
				<div class="row">
					<div class="col-md-6">
						<label for="name">First Name*</label>
						<input name="name" id="name" type="text">
					</div>
					<div class="col-md-6">
						<label for="last-name">Last Name*</label>
						<input name="last-name" id="last-name" type="text">
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<label for="mail">Email*</label>
						<input name="mail" id="mail" type="text">
					</div>
					<div class="col-md-6">
						<label for="phone">Phone</label>
						<input name="phone" id="phone" type="text">
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<label for="price-select">Select your price type*</label>
						<select>
							<option></option>
							<option>Ticket “Early Bird” - $29</option>
							<option>Ticket “Standard” - $59</option>
							<option>Ticket “Enterprise” - $119</option>
						</select>
					</div>
					<div class="col-md-6">
						<label for="numb-tickets">Number of Tickets*</label>
						<select>
							<option></option>
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
							<option>5</option>
							<option>6</option>
						</select>
					</div>
				</div>
			</form>
		</div>
	</div>
</section>
<!-- End register section -->
<!-- about-us-section
	================================================== -->
<section class="about-us-section">
	<div class="container">
		<div class="title-section center">
			<h1>Be a part of a great event.</h1>
		</div>
		<div class="about-us-box">
			<div class="row">
				<div class="col-md-4">
					<div class="about-us-post">
						<i class="ionicons ion-ios-contact"></i>
						<h2>Who We Are?</h2>
						<p>Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. </p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="about-us-post">
						<i class="ionicons ion-ios-color-filter-outline"></i>
						<h2>What We Do?</h2>
						<p>Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. </p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="about-us-post">
						<i class="ionicons ion-ios-people-outline"></i>
						<h2>For visitors</h2>
						<p>Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. </p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End about-us section -->
<!-- countdown-section
	================================================== -->
<section class="countdown-section">
	<div class="container">
		<div class="inner-countdown">
			<h2>Time Left Until The Conference Start</h2>
			<div id="clock">
				<div class="comming-part">
					<span id="days"></span>
					<p>Days</p>
				</div>
				<div class="comming-part">
					<span id="hours"></span><p>:</p>
					<span id="minutes"></span><p>:</p>
					<span id="seconds"></span>
				</div>
			</div>
			<h2>13-15 April 2018, San Francisco</h2>
		</div>
	</div>
</section>
<!-- End countdown section -->