<section class="speaking-section3">
	<div class="container">
		<div class="title-section center">
			<h1>Conference Committee</h1>
		</div>
		<div class="speakers-box">

			<div class="row">
				<div class="col-lg-6">
					<div class="speaker-post">
						<a href="#"><img src="~/upload/speakers/sp1.jpg" alt=""></a>
						<div class="speaker-content">
							<h2><a href="#">Prof. Dr. A. Atangana </a></h2>
							<br />
							<p>University of Free State South Africa</p>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="speaker-post">
						<a href="#"><img src="~/upload/speakers/sp1.jpg" alt=""></a>
						<div class="speaker-content">
							<h2><a href="#">Prof. Dr. Oluwole Daniel Makinde</a></h2>
							<br />
							<p>Sed egetus libero eu augue. </p>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-6">
					<div class="speaker-post">
						<a href="#"><img src="~/upload/speakers/sp1.jpg" alt=""></a>
						<div class="speaker-content">
							<h2><a href="#">Jack Peterson</a></h2>
							<span>Head Engineering</span>
							<p>Sed egestas, ante et vulput ate volutpat, eros pede semper est, vitae luctus metus libero eu augue. </p>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="speaker-post">
						<a href="#"><img src="~/upload/speakers/sp1.jpg" alt=""></a>
						<div class="speaker-content">
							<h2><a href="#">Andrea Willson</a></h2>
							<span>Brand Manager</span>
							<p>Sed egestas, ante et vulput ate volutpat, eros pede semper est, vitae luctus metus libero eu augue. </p>
							
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-6">
					<div class="speaker-post">
						<a href="#"><img src="~/upload/speakers/sp1.jpg" alt=""></a>
						<div class="speaker-content">
							<h2><a href="#">Darren Doe</a></h2>
							<span>Creative Director</span>
							<p>Sed egestas, ante et vulput ate volutpat, eros pede semper est, vitae luctus metus libero eu augue. </p>
		
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="speaker-post">
						<a href="#"><img src="~/upload/speakers/sp1.jpg" alt=""></a>
						<div class="speaker-content">
							<h2><a href="#">Piera Mcclure</a></h2>
							<span>Partner Startup</span>
							<p>Sed egestas, ante et vulput ate volutpat, eros pede semper est, vitae luctus metus libero eu augue. </p>
							
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>