@model IEnumerable<ACIAM.Models.Conference>

<section class="speaking-section3">
    <div class="container">
        <div class="title-section center">
            <h1>Organising Committee</h1>
        </div>
        <div class="speakers-box">
            <div class="row">
                @foreach (var conference in Model)
                {
                    <div class="col-lg-6">
                        <div class="speaker-post">
                            <a href="#">
                                <img src="~/uploads/@conference.Image" alt="@conference.Title" />
                            </a>
                            <div class="speaker-content">
                                <h2><a href="#">@conference.Title</a></h2>
                                <span>@conference.SubTitle</span>
                                <p>@conference.Description</p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
