@model IEnumerable<ACIAM.Models.Conference>

<section class="speaking-section3">
    <div class="container">
        <div class="title-section center">
            <h1>Organising Committee</h1>
        </div>
        <div class="speakers-box">
            <div class="row">
                @foreach (var conference in Model)
                {
                    <div class="col-lg-6">
                        <div class="speaker-post" style="display: flex; align-items: stretch; height: 350px; margin-bottom: 20px;">
                            <div class="speaker-image" style="flex: 1;">
                                <img src="~/uploads/@conference.Image" alt="@conference.Title" style="width: 100%; height: 100%; object-fit: cover;" />
                            </div>
                            <div class="speaker-content" style="flex: 1; padding: 15px;">
                                <h2>@conference.Title</h2>
                                <br/>
                                <span>@conference.SubTitle</span>
                                <p>@conference.Description</p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
