<!-- speaking-section2
	================================================== -->
<section class="speaking-section2">
	<div class="container">
		<div class="title-section white-style">
			<div class="row">
				<div class="col-md-8">
					<h1>Who's speaking</h1>
				</div>
				<div class="col-md-4">
					
				</div>
			</div>
			
		</div>
		<div class="speakers-box">

			<div class="row">
				<div class="col-lg-3 col-md-4 col-sm-6">
					<div class="speaker-post">
						<a href="#"><img src="~/upload/speakers/sp1.jpg" alt=""></a>
						<div class="speaker-content">
							<h2><a asp-action="SpeakerSingle">Prof. Dr. Abdon Atangana</a></h2>
							<span>University of the Free State, South Africa</span>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6">
					<div class="speaker-post">
						<a href="#"><img src="~/upload/speakers/sp1.jpg" alt=""></a>
						<div class="speaker-content">
							<h2><a href="#">Prof. Dr. Daniel O. Makinde</a></h2>
							<span>University of Stellenbosch, South Africa</span>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6">
					<div class="speaker-post">
						<a href="#"><img src="~/upload/speakers/sp1.jpg" alt=""></a>
						<div class="speaker-content">
							<h2><a href="#">Prof. Dr. Gaston Nguerekata</a></h2>
							<span>Morgan State University, United States of America.</span>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6">
					<div class="speaker-post">
						<a href="#"><img src="~/upload/speakers/sp1.jpg" alt=""></a>
						<div class="speaker-content">
							<h2><a href="#">Prof. Dr. Stefano Boccaletti</a></h2>
							<span>Institute for Complex Systems, Italy.</span>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-3 col-md-4 col-sm-6">
					<div class="speaker-post">
						<a href="#"><img src="~/upload/speakers/sp1.jpg" alt=""></a>
						<div class="speaker-content">
							<h2><a href="#">Darren Doe</a></h2>
							<span>Creative Director</span>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6">
					<div class="speaker-post">
						<a href="#"><img src="~/upload/speakers/sp1.jpg" alt=""></a>
						<div class="speaker-content">
							<h2><a href="#">Piera Mcclure</a></h2>
							<span>Partner Startup</span>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6">
					<div class="speaker-post">
						<a href="#"><img src="~/upload/speakers/sp1.jpg" alt=""></a>
						<div class="speaker-content">
							<h2><a href="#">Martin Smith</a></h2>
							<span>Producer, CSI</span>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6">
					<div class="speaker-post">
						<a href="#"><img src="~/upload/speakers/sp1.jpg" alt=""></a>
						<div class="speaker-content">
							<h2><a href="#">Robert Reed</a></h2>
							<span>Web Technologist</span>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>
<!-- End speaking section2 -->
<!-- event-banner-section
================================================== -->
<section class="event-banner-section">
	<div class="container">
		<div class="row">
			<div class="col-lg-9 col-md-8">
				<h1>Are you ready joing us?</h1>
				<p>Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. </p>
			</div>
			<div class="col-lg-3 col-md-4">
				<div class="button-banner-box">
					<a href="#" class="default-button">Register Today</a>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End event-banner section -->