<section class="speaking-section3">
	<div class="container">
		<div class="title-section center">
			<h1>Scientific Committee</h1>
		</div>
	</div>

    <div class="container mt-4">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="speaker-card">
                    <h5>Prof. Dr. A. Atangana</h5>
                    <p>University of Free State, South Africa</p>
                </div>
                <div class="speaker-card">
                    <h5>Prof. Dr. O. D. Makinde</h5>
                    <p>Stellenbosch University, South Africa</p>
                </div>
                <div class="speaker-card">
                    <h5>Prof. Dr. Denis Ndanguza</h5>
                    <p>University of Rwanda, Rwanda</p>
                </div>
                <div class="speaker-card">
                    <h5>Prof. Dr. Baba Seidu</h5>
                    <p>C.K. Tadem University of Technology and Applied Science, Ghana</p>
                </div>
                <div class="speaker-card">
                    <h5>Dr. Chinedu Nwaigwe</h5>
                    <p>Rivers State University, Nigeria</p>
                </div>
                <div class="speaker-card">
                    <h5>Prof. Dr. Mamadou Abdoul Diop</h5>
                    <p>Université Gaston Berger de Saint Louis, Senegal</p>
                </div>
                <div class="speaker-card">
                    <h5>Prof. Dr. S.S. Okoya</h5>
                    <p>Obafemi Awolowo University, Nigeria</p>
                </div>
                <div class="speaker-card">
                    <h5>Prof. Dr. R.J. Moitsheki</h5>
                    <p>University of Witwatersrand, South Africa</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="speaker-card">
                    <h5>Prof. Dr. Khalil Ezzinbi</h5>
                    <p>Cadi Ayyad University, Marrakesh, Morocco</p>
                </div>
                <div class="speaker-card">
                    <h5>Prof. Dr. Abdou Sene</h5>
                    <p>University Cheikh Hamidou KANE (UN-CHK), Senegal</p>
                </div>
                <div class="speaker-card">
                    <h5>Prof. Dr. Hamidou Toure</h5>
                    <p>Joseph KI-ZERBO university, Ouagadougou, Burkina Faso</p>
                </div>
                <div class="speaker-card">
                    <h5>Prof. Dr. Y.I. Seini</h5>
                    <p>University for Development Studies, Ghana</p>
                </div>
                <div class="speaker-card">
                    <h5>Prof. Dr. G.T. Tilahun</h5>
                    <p>Haramaya University, Ethiopia</p>
                </div>
                <div class="speaker-card">
                    <h5>Prof. Dr. A. S. Eegunjobi</h5>
                    <p>Namibia University of Science and Technology, Namibia</p>
                </div>
                <div class="speaker-card">
                    <h5>Prof. Dr. G. Masanja</h5>
                    <p>Nelson Mandela African Institute of Science and Technology, Tanzania</p>
                </div>
                <div class="speaker-card">
                    <h5>Prof. Dr. D. Theuri</h5>
                    <p>Jomo Kenyatta University of Agriculture and Technology, Kenya</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="speaker-card">
                    <h5>Prof. Dr. Norbert Hounkonnou</h5>
                    <p>University of Abomey-Calavi, Cotonou, Republic of Benin</p>
                </div>
                <div class="speaker-card">
                    <h5>Prof. Dr. J. M. Mango</h5>
                    <p>Makerere University, Uganda</p>
                </div>
                <div class="speaker-card">
                    <h5>Prof. Dr. W. Garira</h5>
                    <p>University of Venda, South Africa</p>
                </div>
                <div class="speaker-card">
                    <h5>Prof. Dr. J. Kasozi</h5>
                    <p>Makerere University, Uganda</p>
                </div>
                <div class="speaker-card">
                    <h5>Prof. Dr. Johnson Olaleru</h5>
                    <p>University of Lagos, Nigeria</p>
                </div>
                <div class="speaker-card">
                    <h5>Prof. Dr Zakia Hammouch</h5>
                    <p>MOULAY Ismail Fes, Morocco</p>
                </div>
                <div class="speaker-card">
                    <h5>Prof. Dr. Mahmoud Abdel-Aty</h5>
                    <p>Sohag University, Egypt</p>
                </div>
                <div class="speaker-card">
                    <h5>Prof. Dr. Gaston N’guerekata</h5>
                    <p>Morgan State University, Central African Republic/USA</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="speaker-card">
                    <h5>Prof. Dr. Martin Le Doux Mbele Bidima</h5>
                    <p>University of Yaounde, Cameroon</p>
                </div>
                <div class="speaker-card">
                    <h5>Prof. Dr. Nzi Modeste</h5>
                    <p>University of Cocody, Ivory Coast</p>
                </div>
                <div class="speaker-card">
                    <h5>Prof. Dr. Patrick Weke</h5>
                    <p>University of Nairobi, Kenya</p>
                </div>
                <div class="speaker-card">
                    <h5>Prof. Dr. Mouhamadou Hassirou</h5>
                    <p>Abdou Moumouni University of Niamey, Niger</p>
                </div>
                <div class="speaker-card">
                    <h5>Prof. Dr. Abba Gumel</h5>
                    <p>University of Maryland, Nigeria/USA</p>
                </div>
                <div class="speaker-card">
                    <h5>Prof. Dr. Morou Hamidou</h5>
                    <p>Abdou Moumouni University of Niamey, Niger</p>
                </div>
                <div class="speaker-card">
                    <h5>Prof. Dr. Rachid Yazami</h5>
                    <p>Nanyang Technological University, Singapore</p>
                </div>
                <div class="speaker-card">
                    <h5>Prof. Dr. Mahaman Bazanfare</h5>
                    <p>Abdou Moumouni University of Niamey, Niger</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="speaker-card">
                    <h5>Prof. Dr. Augustin Banyaga</h5>
                    <p>Pennsylvania State University, USA/Rwanda</p>
                </div>
                <div class="speaker-card">
                    <h5>Prof. Dr. Senelani Dorothy Hove-Mesekwa</h5>
                    <p>National University of Science & Technology, Zimbabwe</p>
                </div>
                <div class="speaker-card">
                    <h5>Prof. Dr. Guy Degla</h5>
                    <p>University of Abomey-Calavi, Benin</p>
                </div>
                <div class="speaker-card">
                    <h5>Prof. Dr. André Mialébama Bouesso</h5>
                    <p>University of Cheikh Anta Diop, Senegal</p>
                </div>
                <div class="speaker-card">
                    <h5>Prof. Dr Emile Franc D.Goufo</h5>
                    <p>University of South Africa, South Africa</p>
                </div>
                <div class="speaker-card">
                    <h5>Prof. Dr. Hussein Jafari</h5>
                    <p>University of South Africa, South Africa</p>
                </div>
                <div class="speaker-card">
                    <h5>Prof.Dr. Gaston Mandata N’Gueregata</h5>
                    <p>Morgan State University, USA</p>
                </div>
                <div class="speaker-card">
                    <h5>Prof. Dr. Gemechis File Duressa</h5>
                    <p>Jimma University, Ethiopia</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="speaker-card">
                    <h5>Prof. Dr. Ouateni Diallo</h5>
                    <p>University of Sciences, Techniques and Technologies of Bamako (USTTB), Mali</p>
                </div>
                <div class="speaker-card">
                    <h5>Professor Anum Shafiq</h5>
                    <p>Nanjing University of Information Science and Technology, Nanjing, China</p>
                </div>
                <div class="speaker-card">
                    <h5>Prof. Dr. Mamadou Sy</h5>
                    <p>Gaston Berger University of Saint Louis, Senegal</p>
                </div>
                <div class="speaker-card">
                    <h5>Prof. Dr. Stanislas Ouaro</h5>
                    <p>Joseph Ki-Zerbo University, Burkina Faso</p>
                </div>
                <div class="speaker-card">
                    <h5>Prof. Dr. Safimba Soma</h5>
                    <p>Joseph Ki-Zerbo  University, Burkina Faso</p>
                </div>
                <div class="speaker-card">
                    <h5>Dr. Maimouna Salou</h5>
                    <p>Abdou Moumouni University of Niamey, Niger</p>
                </div>
                <div class="speaker-card">
                    <h5>Prof. Dr. Isidore Seraphin Ngongo</h5>
                    <p>University of Yaounde 1, Cameroon</p>
                </div>
                <div class="speaker-card">
                    <h5>Prof. Dr. Skander Belha</h5>
                    <p>University of Manouba, Tunis and University of Tunis El Manar, Tunis</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="speaker-card">
                    <h5>Prof. Dr. Fortuné Massamba</h5>
                    <p>University of Kwazulu-Natal, South Africa</p>
                </div>
                <div class="speaker-card">
                    <h5>Dr. Hangwelani Magau</h5>
                    <p>Central University of Technology, Free State, South Africa</p>
                </div>
                <div class="speaker-card">
                    <h5>Prof. Dr. Sidi Mohamed Bouguima</h5>
                    <p>University of Tlemcen, Algeria</p>
                </div>
                <div class="speaker-card">
                    <h5>Dr. Ndolane Sene</h5>
                    <p>Université Cheikh Anta Diop de Dakar, Senegal</p>
                </div>
                <div class="speaker-card">
                    <h5>Prof. Dr. Jocelyn Gonessa</h5>
                    <p>University of Bangui, Central African Republic</p>
                </div>
                <div class="speaker-card">
                    <h5>Prof. Dr. Rebecca Walo Omana</h5>
                    <p>University of Kinshasa, Democratic Republic of the Congo</p>
                </div>
                <div class="speaker-card">
                    <h5>Prof. Dr. Esunge Julius</h5>
                    <p>Mary Washington University, États-Unis</p>
                </div>
                <div class="speaker-card">
                    <h5>Prof. Dr. Mohamed Guedda</h5>
                    <p>University of Picardy Jules Verne Amiens, France</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="speaker-card">
                    <h5>Prof. Dr. Karam Allali</h5>
                    <p>FS Mohamedia University Hassan II of Casablanca, Morocco</p>
                </div>
                <div class="speaker-card">
                    <h5>Prof. Dr. Mohamed Safaa Mohamed Osman</h5>
                    <p>Cairo University, Egypt</p>
                </div>
                <div class="speaker-card">
                    <h5>Prof. Dr. Hichem Eleuch</h5>
                    <p>University of Sharjah / Institute of Quantum Science and Engineering, Texas A&M University, USA/Tunisia</p>
                </div>
                <div class="speaker-card">
                    <h5>Prof. Badr Abou El Majd</h5>
                    <p>Mohammed V University, Rabat, Morocco</p>
                </div>
                <div class="speaker-card">
                    <h5>Dr. Jaouad Danane</h5>
                    <p>Hassan First University, Settat, Morocco</p>
                </div>
                <div class="speaker-card">
                    <h5>Prof. Dr. Khalid Najib</h5>
                    <p>ENIM Rabat Morocco</p>
                </div>
                <div class="speaker-card">
                    <h5>Prof.Dr. Mohamed Khomssi</h5>
                    <p>Sidi Mohamed Ben Abdellah University Fes Morocco</p>
                </div>
                <div class="speaker-card">
                    <h5>Prof. Dr. Noura Yousfi</h5>
                    <p>Hassan II University Casablanca, Morocco</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="speaker-card">
                    <h5>Prof. Dr. Mohamed Wakrim</h5>
                    <p>Ibn Zohr University Agadir Morocco</p>
                </div>
            </div>
        </div>
    </div>
</section>