<!-- speaking-single
	================================================== -->
<section class="speaking-single">
	<div class="container">
		<div class="single-box">

			<div class="row">
				<div class="col-lg-5 col-md-6">
					<div class="single-image">
						<a asp-action="PlenarySpeakers"><i class="fa fa-angle-left"></i> Back</a>
						<img src="~/upload/speakers/single.jpg" alt="">
					</div>
				</div>
				<div class="col-lg-6 offset-lg-1 col-md-6">
					<div class="single-content">
						<div class="single-data">
							<h1>Daniel Robert</h1>
							<span>CEO, Founder at GBC</span>
							<p>Ut justo. Suspendisse potenti. Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est. Sed lectus. Praesent elementum hendrerit tortor. Sed semper lorem at felis. Vestibulum volutpat, lacus a ultrices sagittis, mi neque euismod dui, eu pulvinar nunc sapien ornare nisl. Phasellus pede arcu, dapibus eu, fermentum et, dapibus sed, urna.</p>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>
<!-- End speaking single -->